extends layout

block content
  div(id="posts")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="/javascripts/prettyPrintMarkup.js")
  script(src="/javascripts/displayPosts.js")
