extends layout

block content
  .container
    article.content#posts
    .sideMain#snippets
  script var id = #{id};
  script(src="/javascripts/prettyPrintMarkup.js")
  script(src="/javascripts/displayPosts.js")
  script(src="/javascripts/displaySnippets.js")
