extends layout

block content
  .container
    .content
      h1 Contact
      h1.spacer ___
      p Feel free to ask questions or just drop me a line to say hi.
      hr
      .formGroup
        label(for='contactEmail') Email address
        input#contactEmail(type='email')
      .formGroup
        label(for='contactMessage') Message
        textarea#contactMessage(rows='10')
      button Send
    .sideMain
      img.img-responsive.item-img(src='img/me.png', alt='Avatar')
      h4 Ben Hernandez
      p Full Stack Developer | Denver, CO
      p 210/843-2498
      hr
