extends layout

block content
  .row.bottom
    .col-lg-8.col-md-8.col-sm-7.col-left
      section
        .row
          h1 Coming Soon!
          p This page will document my misadventures in programming.
              Basically, this will be a log of all the bugs that took forever to find and made me feel really student when I finally figured them out.
    .col-lg-4.col-md-4.col-sm-5.col-right
      #scroll-shadow
      section
        .row
          .col-lg-12
