extends layout

block content
  .row.bottom
    .col-lg-8.col-md-8.col-sm-7.col-left
      h1 Hello, I am a former math teacher turned developer.
    .col-lg-4.col-md-4.col-sm-5.col-right
      section.blog(id='snippets')
      a.btn.btn-default.btn-lg.btn-block.load-more Load more
      a.btn.btn-block.scroll-top.visible-xs
        img(src='/img/icon/icon-chevron.png', alt='Scroll top')
