doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css")
  body
    block content
    script(src="/javascripts/bind.js")
    script(src="/javascripts/master.js")
