html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}
.pageContainer {
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: 50px;
  min-height: 50px;
  background: rgb(151, 116, 161);
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.links {
  display: flex;
  flex: 0 0 450px;
  justify-content: space-around;
  height: 50px;
  min-height: 50px;
  background: rgb(255, 255, 255)
}
.link {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(52, 148, 255);
  border-left: 1px solid rgb(52, 148, 255);
  border-right: 1px solid rgb(52, 148, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: capitalize;
  font-size: 24px;
  padding: 2px;
}
link:hover {
  background-color: rgb(175, 199, 226);
}
.link > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.link > a > i {
  font-size: 36px;
}
.links > .active {
  background-color: rgb(175, 199, 226);
}
.links > .social {
  padding : 3px;
  flex: 1;
}
.header {
  background: rgb(175, 199, 226);
  height: 50px;
  min-height: 50px;
  flex: 1;
  font-size: 50px;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.link:hover {
  background-color: rgb(175, 199, 226);
}
.social:hover {
  background-color: white;
}
.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}
.content {
  flex: 1;
  position: relative;
  padding: 50px;
  overflow: scroll;
  height: 100vh;
  box-sizing: border-box;
}
.spacer {
  font-size: 36px;
  margin-top: -45px;
}
.sideMain {
  padding: 10px;
  overflow: auto;
  flex: 0 0 450px;
  background: rgb(175, 199, 226);
  box-sizing: border-box;
  border-left: 1px solid rgb(52, 148, 255);
}
.img-responsive {
  width: 100%;
  height: auto;
}

.subheader {
  color: rgb(125, 125, 125);
}
.vertPanel {
  margin-left: 2%;
  margin-top: 20px;
  box-sizing: border-box;
  width: 47%;
  float: left;
  height: 350px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 20px;
}
.vertPanel:nth-child(2n + 1) {
  clear: left;
}
.vertPanel > h1 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 80%;
}
.vertPanel > h2 {
  text-align: center;
  font-size: 12px;
  color: rgb(115, 115, 115);
  line-height: 80%;
}
.vertPanel > p {
  font-size: 14px;
}
.vertPanel > a {
  color: black;
  text-decoration: none;
}
.vertPanel > div {
  clear: both;
  display: block;
}
.horzPanel {
  margin-left: 2%;
  margin-top: 5%;
  box-sizing: border-box;
  width: 96%;
  float: left;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.blogControl {
  font-size: 36px;
  margin-top: 20px;
  clear: both;
  font-family: 'Indie Flower', cursive;
}
.blogControl > div {
  display: inline;
}
.share {
  margin-top: 40px;
  position: relative;
}
.prev {
  float: left;
}
.prev > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.next {
  float: right;
}
.next > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#posts {
  font-size: 18px;
}
block {
  border-left: 5px solid rgb(199, 199, 199);
  padding-left: 5px;
  display: block;
}
.border {
  border: 1px solid black;
  box-sizing: border-box;
}
.bold {
  font-weight: 600;
}
.italics {
  font-style: italic;
}
.strikethrough {
  text-decoration: line-through;
}
.block {
  border-left: 5px solid rgb(199, 199, 199);
  padding-left: 5px;
  display: block;
}
.clickable {
  cursor: pointer;
}
.disabled {
  color: rgb(134, 134, 134);
  cursor: not-allowed;
}
.formGroup {
  width: 100%;
  margin-bottom: 20px;
}
.formGroup > label {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 3px;
  margin-bottom: 10px;
}
.formGroup > input, textarea {
  clear: both;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 3px;
  margin-top: 10px;
}
button {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;
  background-color: rgb(175, 199, 226);
  border: none;
}
.icons {
  font-size: 36px
}
icode {
  font-family: 'Inconsolata';
  background: rgb(231, 252, 231);
}
icode table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(231, 252, 231);
  width: 100%;
  overflow: scroll;
}
icode td:last-child {
  width: 95%;
  padding-left: 3px;
}
icode td:first-child{
  border-right: 2px solid rgb(119, 250, 119);
  width: 5%;
}
#posts {
  font-size: 18px;
}
block {
  border-left: 5px solid rgb(199, 199, 199);
  padding-left: 5px;
  display: block;
}
.border {
  border: 1px solid black;
  box-sizing: border-box;
}
.bold {
  font-weight: 600;
}
.italics {
  font-style: italic;
}
.strikethrough {
  text-decoration: line-through;
}
.block {
  border-left: 5px solid rgb(199, 199, 199);
  padding-left: 5px;
  display: block;
}
