body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.code {
  font-family: 'Inconsolata';
  background: rgb(231, 252, 231);
}
table.code {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.code td:first-child{
  border-right: 2px solid rgb(119, 250, 119);
  width: 30px;
}
.bold {
  font-weight: bold;
}
.italics {
  font-style: italic;
}
.strikethrough {
  text-decoration: line-through;
}
.block {
  border-left: 5px solid rgb(199, 199, 199);
  padding-left: 5px;
  display: block;
}
